{% extends 'base.html' %}

{% block content %}
    {% include 'slider.html' %}
    <div class="item-grid">
        {% for ad in ads %}
        <div class="item-card" 
            data-name="{{ ad.name }}" 
            data-ad-number="{{ ad.ad_number }}" 
            data-description="{{ ad.description }}" 
            data-city="{{ ad.city }}" 
            data-category="{{ ad.category }}" 
            data-sub-category="{{ ad.sub_category }}"
            data-price="{{ ad.price }}">
            <img src="{{ ad.image }}" alt="{{ ad.name }}">
            <h3>{{ ad.name }}</h3>
            <p><strong>City:</strong> {{ ad.city }}</p>
            <p><strong>Price:</strong> ${{ ad.price }}</p>
            <button onclick="window.location.href='/item/{{ ad.id }}'">View Details</button>
        </div>
        {% endfor %}
    </div>
    <p id="noResults" style="display: none;">No matching results</p>

    <style>
        .item-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 1px solid #ddd;
            padding: 10px;
            margin: 5px;
            border-radius: 8px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        }
        
        .item-card button {
            background-color: #555;
            color: white;
            font-size: 18px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }
        
        .item-card button:hover {
            background-color: #777;
            transform: scale(1.1);
        }
        
        .item-card img {
            max-width: 100%;
            height: 175px;
            border-radius: 5px;
        }
        </style>
        
    
{% endblock %}